body{
	background-color: #FFFFFF;
}

#main{
	width: 100%;
	border: none;
}

header{
	padding: 13px;
	clear: left;
	background-color: #FFFFFF;
}

figure{
	display: block;
	float: right;
	margin-top: -10vw;
	width: 23vw;
	height: 5vw;
}

figure p{
	color: #262626;
	font-size: 1.2vw;
	text-align: center;
	margin-top: -2vw;
	margin-left: -1vw;
}

#Logo{
	margin-left: 2%;
	margin-top: 20px;
	width: 20vw;
	height: 5vw;


}

#Keystone{
	height: 7vw;
	width: 22vw;
	margin-top: -.5vw;


}


nav{
	width: 100%;
	background-color: #34495E;
	margin-top: -10px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    border-left: solid 1px #22303d;
}

li a{
	display: block;
    color: white;
    text-align: center;
    padding: 30px 55px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.8vw;
}

li a:hover{
	background-color: #5e3449;
}

.mySlides{
	display: none;
}

.w3-display-container{
	border: none;
	clear: right;
}

#quote{
	clear: left;
	background-color: #467f63;
	max-width: 50%;
	height: 37.5vw;
	margin-left: 50%;
	margin-top: -15px;
	color: white;
	text-align: center;

}

#quote h1{
	font-family: sans-serif;
	font-size: 4vw;
	margin-bottom: -60px;
}

#quote p{
	font-size: 2vw;
	margin-top: 7vw;
	text-align: center;
}
.w3-badge{
	height: 18px;
	width: 15px;
	padding: 0;
}

#bestbutton{
	margin-top: 2.5vw;
	background-color: white;
	border-radius: 6px;
	width: 55%;
	height: 50px;
	font-size: 1.5vw;
	cursor: pointer;
	border: none;
	text-decoration: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	text-align: center;

}

#bestbutton:active{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.4);
	transform: translateY(3px);
}

#Farms{
	font-size: 2vw;
}