body{
	background-color: #FFFFFF;
}

#main{
	width: 100%;
	border: none;
}

header{
	padding: 13px;
	clear: left;
	background-color: #FFFFFF;
}

figure{
	display: block;
	float: right;
	margin-top: -5px;
	width: 360px;
	height: 60px;
}

#Logo{
	margin-left: 2%;
	margin-top: 20px;


}

#Keystone{

}


nav{
	width: 100%;
	background-color: #34495E;
	margin-top: -10px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a{
	display: block;
    color: white;
    text-align: center;
    padding: 30px 55px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

li a:hover{
	background-color: #5e3449;
}

.mySlides{
	display: none;
}

.w3-display-container{
	border: none;
	clear: right;
}

#quote{
	clear: left;
	background-color: #467f63;
	max-width: 50%;
	height: 513px;
	margin-left: 50%;
	margin-top: -15px;
	color: white;
	text-align: center;

}

#quote h1{
	font-family: sans-serif;
}

#quote p{
	font-size: 20px;
}
.w3-badge{
	height: 18px;
	width: 15px;
	padding: 0;
}

#bestbutton{

}